#skills {
  background-color: ghostwhite;
  // color: white;

  .skills-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    .about-btn {
    }
  }
}
.skills-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  p {
    font-family: "Orbitron", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: black;
  }
}
.skills-container {
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  .img-js {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: 768px) {
    .img-js-origin {
      height: 20vh;
      width: 10vw;
      
    }
    p {
      font-family: "Orbitron", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;
      color: black;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .img-js-origin {
    height: 25vh;
    width: 35vw;
  }
  p {
    font-family: "Orbitron", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
  }
}
