@media (min-width: 768px) {
  .about {
    // background-color: #FFFBFA;
    background-color: #fef4ee;
    // color: white;
    padding-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .about-btn-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      text-decoration: none;
      .about-btn {
        // color: #2c333f;
      }
    }
    .about-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      text-decoration: none;
      padding-right: 540px;

      .about-card {
        width: 56vw;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        .about-text {
          // height: 23vh;
          padding: 15px;
          padding-right: 45px;
          width: 20vw;
        }
      }
      .roundy-fam {
        height: 45vh;

        // margin-left: 73px;
      }
    }
  }

}
    @media (max-width: 768px) {
      .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fef4ee;
        padding-bottom: 0px;

        .about-btn-container {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          align-content: stretch;
          text-decoration: none;
          .about-btn {
            // color: #2c333f;
          }
        }
      }
      .img-js-origin {
        height: 25vh;
        width: 35vw;
      }
      .roundy-fam {
        height: 50vh;
        width: 93vw;
      }
      .about-text {
        font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        color: black;
        text-align: center;
      }
    }
