#personal-dev-img {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fef4ee;
  .project-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding-bottom: 10px;
  }
  .project-carousel {
    width: 80vw;
    height: 75vh;
    
  }
}

@media (max-width: 768px) {
  .project-carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }
}

#test {
  font: rgb(255, 138, 138);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
