#personal-dev-img {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fef4ee;
  .project-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding-bottom: 10px;
  }
  .project-carousel {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: center;
    // align-items: stretch;
    // align-content: stretch;
    // width: 80vw;
    height: 75vh;
    // background-size: cover;
    // background-position: center;
    // background-attachment: fixed;
  }
  // .item1 {
  //   width: 80vw;
  //   height: 75vh;
  // }
  // .item2 {
  //   width: 80vw;
  //   height: 75vh;
  // }
  // .item3 {
  //   width: 80vw;
  //   height: 75vh;
  // }
  // .item4 {
  //   width: 80vw;
  //   height: 75vh;
  // }
  .item1-img{
    background: url(./assets/SC.png);
    height: 83vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .item2-img{
    background: url(./assets/SCHome.jpeg);
    height: 83vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .item3-img{
    background: url(./assets/SCProfile.png);
    height: 83vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}

@media (max-width: 768px) {
  .project-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }
}

#test {
  font: rgb(255, 138, 138);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
