#headerImg {
  /* height: 685px;
  min-height: 500px; */
  height: 86vh;
  width: 100%;
  /* background: url(../../assets/brewery.jpg); */
  /* background: url(../../assets/sample-cock.jpg); */
  background: url(../../assets/code1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  
}


@media (max-width: 768px) {
  #headerImg {
    height: 83vh;
    width: 100%;
    background: url(../../assets/code1.jpg);
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed */
  }
}

@media (min-width: 768px) {
  .header {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    /* color: white; 
    font: bold 55px Helvetica, Sans-Serif;  */
    letter-spacing: 2px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  .header-name{
    font-family: Orbitron;
    font-size: 15;
    font-weight: bold;
    color: red;
    padding-bottom: 15px;
  }
  .header-title{
    font-family: Orbitron;
    font-size: 10;
    color: #FEF4EE;
  }
}

#test {
  font: rgb(255, 138, 138);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
